html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232323;
  /* scroll-behavior: smooth; */
}
button {
  border-color: #b30000;
  border-radius: 5px;
}
.reviewInput {
  width: 80%;
}
.searchResultWindow {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #000000;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
::-webkit-scrollbar {
  height: 10px;
}
/* scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/*scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #b30000;
  border-radius: 10px;
}
/*scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.searchResultEntry {
  display: grid;
  grid-template-areas: 'routeLink addButton';
}
.searchResultEntryLinkGrid {
  text-decoration: none;
  /* border-bottom: #343434 solid 1px; */
  border-bottom: #b30000 1px solid;
  color: aliceblue;
  display: flex;
  /* justify-content: space-between; */
}
.searchResultDetail {
  /* border: #ccc 1px solid; */
  margin-left: 10%;
}
.searchResultsImg {
  border: #ccc 1px solid;
}
.searchResultEntryAddBtn {
  width: 100px;
  height: 50px;
  margin: auto 150px auto auto;
}
.searchResultEntry:hover {
  background-color: #131313;
}
.listCreator,
.listCreator button,
.listCreator input {
  font-size: 1em;
}
.trailerSubstitute {
  width: 773px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.popupAdder {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  border: #b30000 2px solid;
  border-radius: 15px;
  padding: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.reviewTextArea {
  width: 115%;
  height: 75px;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.starButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  width: 23px;
}
.starOn {
  color: gold;
}
.starOff {
  color: #ccc;
}
.starRating {
  margin-right: 10px;
}
.popupListBtn {
  font-size: 1.5em;
  min-width: 300px;
}
.moviePageAddBtn {
  color: #b30000;
  border: #b30000 3px solid;
  box-shadow: inset 0 0 5px grey;
  width: 70px;
  border-radius: 20px;
  font-size: 1em;
}
.deleteListBtn {
  font-size: 1.5em;
  color: #b30000;
  border: #b30000 1px solid;
  border-radius: 5px;
}
.listCreator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #343434;
  border: #b30000 2px solid;
  border-radius: 15px;
  padding: 50px;
}
.carouselContainer {
  height: 400px;
}
.carousel {
  height: 390px;
  background-color: #343434;
  color: aliceblue;
  width: 60%;
  display: flex;
  gap: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 15px;
  position: relative;
}
.reviewBox {
  height: 390px;
  background-color: #343434;
  color: aliceblue;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 1%;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 15px;
  position: relative;
}
.review {
  width: 150px;
  height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
  border-radius: 15px;
  background-color: #131313;
}
.actorCarousel {
  height: 200px;
  background-color: #343434;
  color: aliceblue;
  width: 60%;
  display: flex;
  gap: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 15px;
  position: relative;
}
.actorCarouselScrollArrow {
  color: #b30000;
  font-size: 5em;
  cursor: pointer;
  border: #b30000 2px solid;
  box-shadow: inset 0 0 5px grey;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  height: 150px;
  width: 50px;
}
.carouselScrollArrow {
  color: #b30000;
  font-size: 5em;
  cursor: pointer;
  border: #b30000 2px solid;
  box-shadow: inset 0 0 5px grey;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  height: 250px;
  width: 50px;
}
.carouselScrollArrow:hover {
  box-shadow: inset 0 0 20px grey;
}
.card {
  min-width: 200px;
  width: 200px;
  min-height: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.actorCard {
  min-width: 150px;
  width: 150px;
  min-height: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.actorCardDetail {
  height: 40px;
  overflow-y: scroll;
  color: aliceblue;
}
.posterImg {
  min-width: 200px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}
.actorImg {
  min-width: 100px;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
}
.addListBtn {
  color: #b30000;
  border: #b30000 3px solid;
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
  font-size: 1.5em;
}
.cardDetail {
  height: 55px;
  overflow-y: scroll;
  color: aliceblue;
}
.cardDetail::-webkit-scrollbar {
  display: none;
}
.actorCardDetail::-webkit-scrollbar {
  display: none;
}
.flexCenteredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexCenteredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loginBtn {
  width: 300px;
}

.loginPageContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginPgBtnsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.loginPgBtn {
  height: 50%;
  width: 50%;
  font-size: large;
}
.page {
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  /* border:aliceblue 1px solid; */
}
.sideBarContainer {
  width: 70%;
  margin: auto;
  /* border: aliceblue 1px solid; */
  position: relative;
}
.movieBackdrop {
  width: 100%;
}
.moviePagePoster {
  /* position: absolute; */
  left: 0px;
}
.castRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  justify-content: center;
}
.visualsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.overview {
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  /* border: 1px solid aliceblue; */
  border-radius: 15px;
  text-align: center;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000000;
}
.navContainer {
  width: 70%;
  height: 70px;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background: #000000;
  color: aliceblue;
  /* border: 1px solid white; */
}
.searchForm {
  width: 97%;
}
.searchInput {
  height: 40px;
  width: inherit;
  font-size: large;
  border-radius: 5px;
}
.searchIcon {
  border: white solid 2px;
  border-radius: 5px;
  margin: auto auto auto 0;
  height: 23px;
  padding: 10px;
}
.logoBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
}
.cardLink {
  text-decoration: none;
}
.logoLink {
  font-size: 2.5em;
  font-weight: bold;
}
.navLinksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 5%;
  /* border: 1px solid white; */
}
.navlink {
  list-style: none;
  margin: 0;
}
.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}
.burger {
  font-size: 3em;
  display: none;
}
.actorLink {
  color: #b30000;
}
.movieInfoGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin: 25px 0 10px 0;
}
.movieInfoGrid > div {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noBullet {
  list-style-type: none;
  color: aliceblue;
}
.navlink {
  color: aliceblue;
}
/***************************************************************************/
/******************************MOBILE*VIEW**********************************/
/***************************************************************************/
@media screen and (max-width: 1024px) {
  .searchResultWindow {
    width: 100%;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navContainer {
    width: 100%;
    /* border: 1px solid white; */
  }
  .logoText {
    display: none;
  }
  .logoLink {
    font-size: 2em;
    font-weight: bold;
  }
  .navLinksContainer {
    margin: 0;
    background: #464646;
    position: absolute;
    display: none;
    top: 70px;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: all 500ms;
    z-index: 99;
    border: aliceblue 1px solid;
    border-radius: 15px;
  }
  .navLinksContainer-active {
    background-color: rgb(182, 34, 34);
    right: -100%;
  }
  .navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: aliceblue 1px solid;
    width: 300px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
  }
  .carousel,
  .actorCarousel {
    width: 100%;
    height: 250px;
    align-items: center;
  }
  .reviewBox {
    width: 100%;
  }
  .reviewBox::-webkit-scrollbar {
    display: none;
  }
  .actorCarousel::-webkit-scrollbar {
    display: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carouselScrollArrow,
  .actorCarouselScrollArrow {
    display: none;
  }
  .moviePagePoster {
    display: none;
  }
  .sideBarContainer {
    width: 100%;
  }
  .card,
  .actorCard {
    min-width: 100px;
    width: 200px;
    min-height: 380px;
    height: 380px;
  }
  .cardDetail {
    height: 50px;
  }
  .posterImg {
    min-width: 100px;
    width: 100px;
    height: 150px;
  }
  .popupAdder {
    width: 80vw;
  }
  .searchResultsGenre {
    display: none;
  }
  .searchResultsImg {
    width: 70px;
  }
  .movieCardTitle {
    display: none;
  }
  .actorCharacter {
    display: none;
  }
  .movieInfoGrid {
    width: 100%;
  }
  .searchResultEntryAddBtn {
    margin-right: 0;
    width: 75px;
  }
}
