html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232323;
  scroll-behavior: smooth;
}
.popupListMenu {
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* transform: translate(-25%, 0); */
}
.listCreator {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(
    -50%,
    -100%
  ); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
  background-color: #343434;
  border: #b30000 2px solid;
  border-radius: 15px;
  padding: 50px;
}
.carousel {
  /* height: 200px; */
  background-color: #343434;
  color: aliceblue;
  width: 80%;
  display: flex;
  gap: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* cursor: grab; */
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
  /* border: 1px solid rgb(255, 0, 0); */
}
.carouselScrollArrow {
  color: #b30000;
  font-size: 5em;
  cursor: pointer;
  /* border:aliceblue 1px solid; */
  /* box-shadow: inset 0 0 5px grey;
  border-radius: 5px; */
  padding: 10px 20px 10px 20px;
}
/* scrollbar width */
.carousel::-webkit-scrollbar {
  height: 20px;
}
/* scrollbar Track */
.carousel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/*scrollbar Handle */
.carousel::-webkit-scrollbar-thumb {
  background: #b30000;
  border-radius: 10px;
}
/*scrollbar Handle on hover */
.carousel::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.card {
  min-width: 200px;
  width: 200px;
  min-height: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  /* cursor: pointer; */
  /* border: 1px solid rgb(0, 0, 0); */
}
.posterImg {
  min-width: 200px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}
.cardDetail {
  height: 72px;
  overflow-y: scroll;
  color: aliceblue;
}
.cardDetail::-webkit-scrollbar {
  display: none;
}
.flexCenteredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexCenteredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page {
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  /* border:aliceblue 1px solid; */
}
.container70W {
  width: 70%;
  margin: auto;
  /* border: aliceblue 1px solid; */
  position: relative;
}
.movieBackdrop {
  width: 100%;
}
.moviePagePoster {
  /* position: absolute; */
  left: 0px;
}
.castRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  justify-content: center;
}
.visualsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.overview {
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  /* border: 1px solid aliceblue; */
  border-radius: 15px;
  text-align: center;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000000;
}
.navContainer {
  width: 70%;
  height: 70px;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background: #000000;
  color: aliceblue;
  /* border: 1px solid white; */
}
.searchForm {
  display: grid;
  grid-template-columns: auto 20%;
  /* border: 1px solid white; */
}
.searchBtn {
  border: white solid 2px;
  border-radius: 5px;
  margin: auto auto auto 0;
  height: 23px;
  padding: 10px;
  cursor: pointer;
}
.logoBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
}
.cardLink {
  text-decoration: none;
}
.logoLink {
  font-size: 2.5em;
  font-weight: bold;
}
.navLinksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 5%;
  /* border: 1px solid white; */
}
.navlink {
  list-style: none;
  margin: 0;
}
.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}
.burger {
  font-size: 3em;
  display: none;
}
.actorLink {
  color: #b30000;
}
@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navContainer {
    width: 100%;
    /* border: 1px solid white; */
  }
  .logoText {
    display: none;
  }
  .logoLink {
    font-size: 2em;
    font-weight: bold;
  }
  .navLinksContainer {
    margin: 0;
    background: #464646;
    position: absolute;
    display: none;
    top: 70px;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: all 500ms;
    z-index: 99999;
  }
  .navlink {
    text-align: center;
  }
  .navLinksContainer-active {
    background-color: rgb(182, 34, 34);
    right: -100%;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carouselScrollArrow {
    display: none;
  }
  .moviePagePoster {
    display: none;
  }
}
